@keyframes slide_anim {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes slide_anim_2 {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -100% -100%;
    }
}


body {
    background-image: url(assets/images/ventanasricardo.png);
    background-repeat: repeat;
    background-size: 8%;
    animation: slide_anim 10s linear infinite;
}

.button_getback {
    margin-left: auto;
    align-self: center;
}

.button_getback_img {
    width: 8%;
}

.container {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url(assets/images/ventanasricardo.png);
    background-repeat: repeat;
    background-size: 8%;
    animation: slide_anim_2 10s linear infinite;
}

.buy_top {
    display: flex;
    flex-direction: row;
}

.buy_bottom {
    display: flex;
    flex-direction: row;
}

.buy_img {
    width: 8%;
    height: 8%;
}

.buy_text {
    font-size: 200%;
}

.buy_button {
    margin-left: auto;
    align-self: center;
}

.buy_comments {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 1%;
}

.buy_comment {
    display: flex;
    flex-direction: column;
}

.buy_comment_top {
    display: flex;
    flex-direction: row;
}

.buy_comment_bottom {
    display: flex;
    flex-direction: row;
}

.buy_comment_item_text {
    font-size: 75%;
}

.buy_comment_item_uname {
    font-size: 75%;
}

.buy_comment_img {
    width: 8%;
    height: 8%;
}