@keyframes slide_anim {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes slide_anim_2 {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -100% -100%;
    }
}


body {
    background-image: url(assets/images/ventanasricardo.png);
    background-repeat: repeat;
    background-size: 8%;
    animation: slide_anim 10s linear infinite;
    margin:0;
}

.container {
    margin-top: 128px;
    margin-left: 12.5%;
    width: 75%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url(assets/images/ventanasricardo.png);
    background-repeat: repeat;
    background-size: 8%;
    animation: slide_anim_2 10s linear infinite;
}

.buy_top {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.buy_bottom {
    display: flex;
    flex-direction: row;
}

.buy_img {
    margin-left: 2%;
    width: 128px;
    height: 128px;
}

.buy_text {
    font-size: 200%;
}

.buy_button {
    font-size: 32px;
    margin-left: auto;
    align-self: center;
    padding: 0;
    margin-right: 64px;
}

.button_getback {
    font-size: 32px;
    margin-left: auto;
    align-self: center;
    padding: 0;
    margin-right: 64px;
}


.buy_comments {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    margin-left: 2%;
    padding: 1%;
}

.buy_comment {
    display: flex;
    flex-direction: column;
}

.buy_comment_top {
    display: flex;
    flex-direction: row;
}

.buy_comment_bottom {
    display: flex;
    flex-direction: row;
}

.buy_comment_item_text {
    font-size: 75%;
}

.buy_comment_item_uname {
    font-size: 75%;
}

.buy_comment_img {
    width: 8%;
    height: 8%;
}